@import './App.css';
@import './movies.css';
@import './nominations.css';

body {
  margin: 2rem;
  padding: 2rem;
  height: 100vh;
  background-color: black !important;
}

.sub {
  text-align: center;
  color: white;
  font-style: italic;
}

.btn.btn-outline {
  border: 1px solid gold;
  color: gold;
}

.btn.btn-outline:hover {
  border: 1px solid black;
  background-color: gold;
  color: black;
}