.container-fluid {
    display: grid;
    height: 100vh;
    width: auto;
    justify-content: center;
    justify-items: center;
    text-align: left;
}

.auto30{
    grid-template-columns: repeat(auto-fit, 30rem);
}

.grid {
    margin-bottom: 4.5rem!important;
}

.inactive {
    color: orange;
}
